{% extends 'navbar.html' %}

{% block title %}Balance{% endblock %}

{% block pre_css_styles %}
	<link rel="stylesheet" href="/css/piechart.css">
{% endblock %}

{% block css_styles %}
	<link rel="stylesheet" href="/css/balance.css">
{% endblock %}

{% block body %}

	<section id="periodDropdown">
		{% include 'Balance/periodDropdown.html' %}
	</section>
	
	<!------mainBody----------------------------------------------------------------------------------->
	<section id="balanceBody"><!-- Contains incomes, expense pie chart, expenses. -->
		<div class="container"> 
			<div class="row">
				<div class="col-md-6">
					<!-- Incomes categories. -->
						<div id="income_table">
						Przychody
						{% if incomes is empty %}
							<div class="b_line b_motivation shadow">Brak przychodów w wybranym okresie</div>
						{% endif %}
						{% for income in incomes %}
									<div class="b_line row shadow">
										<div class="blcell col-7">{{ income.name }}</div>
										<div class="brcell col-4">{{ "%.2f"|format(income.sum) }}</div>
										<button class="btn btn_list col-1" href="#incomeListModal{{ income.id }}" data-toggle="modal" data-target="#incomeListModal{{ income.id }}">
											<span class="fa fa-file-text-o"></span>
										</button>
									</div>
						{% endfor %}
						</div>
					<!-- Expenses categories. -->
						<div id="expense_table">
						{% if expenses is not empty %}
						Wydatki:
						{% endif %}
						{% for expense in expenses %}
									<div class="b_line row shadow">
										<div class="blcell col-7">{{ expense.name }}</div>
										<div class="brcell col-4">{{ "%.2f"|format(expense.sum) }}</div>
										<button class="btn btn_list col-1" href="#expenseListModal{{ expense.id }}" data-toggle="modal" data-target="#expenseListModal{{ expense.id }}">
											<span class="fa fa-file-text-o"></span>
										</button>
									</div>
						{% endfor %}
						</div>
				</div>
				
				<div class="col-md-6"> 
					
					{% if expenses is empty %}
					Wydatki
							<div class="b_line b_motivation shadow">Brak wydatków w wybranym okresie</div>
					{% endif %}
					{% if expense_sum != 0 %}
					Wykres wydatków
					<div> <!-- Pie chart with expenses. -->
						<div class="ratioparent">
							<div id="chartdiv" class="ratiochild b_border shadow"></div>
						</div>
					</div>
					<div> <!-- External pie chart legend. Internal has non-rwd display-->
						<button class="btn b_border col-12" id="legend_btn" href="#legendModal" data-toggle="modal" data-target="#legendModal">
							Legenda
						</button>
					</div>
					{% endif %}
					{% if  (incomes|length + expenses|length != 0) %}
					<!--  Sum & Comment. -->
						<div class="b_line b_sum row shadow">
							<div class="blcell col-7">Bilans</div>
							<div class="brcell col-5 b_right_brd_r">{{ "%.2f"|format(balance_value) }}</div>
						</div>
						<div class="b_line b_motivation shadow" style="{{ motivation_info.0 }}">
							<div class="inB">
								<span>{{ motivation_info.1 }}</span>
							</div>
							<div class="inB">
								<span>{{ motivation_info.2 }}</span>
							</div>
						</div>
					{% endif %}
					
				</div>
			</div>
		</div>
	</section>
	
	<footer>
		<div style="padding: 30px;"></div>
	</footer>
	
	
	<section id="balanceModals">
	<!---legendModal------------------------------------------------------------------------------------------>
		<div class="modal fade" id="legendModal" tabindex="-1" role="dialog" aria-labelledby="legendModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<form class="modal-content" action="" method="post" enctype="multipart/form-data">
					<div class="modal-header">
						<h5 class="modal-title" id="legendModalLabel">Legenda</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div id="legendwrapper">
							<div id="legenddiv"></div>
						</div>
					</div>
					
				</form>
			</div>
		</div>

		{% include 'Balance/incomeListModal.html' %}

		{% include 'Balance/expenseListModal.html' %}
	
	</section>
{% endblock %}

{% block footer %}
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="http://www.amcharts.com/lib/4/themes/kelly.js"></script>
<script>
	var expenses= JSON.parse('{{ js_expenses_sums|json_encode|raw}}');
</script>
<script src="/js/piechart.js"></script>
<script src="/js/modal.js"></script>
{% endblock %}