{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block css_styles %}
<link rel="stylesheet" href="/css/registration.css">
{% endblock %}

{% block footer %}
	<script src="/js/hideShowPassword.min.js"></script>
	<script>
		$.validator.addMethod('validPassword',
			function(value, element, param) {
				if (value != '') {
					if (value.match(/.*[a-z]+.*/i) == null) {
						return false;
					}
					if (value.match(/.*\d+.*/) == null) {
						return false;
					}
				}
				return true;
			},
			'Hasło musi zawierać jedną literę i jedną cyfrę.'
		);
		
		$(document).ready(function() {
			$('#formSignup').validate({
				rules: {
					name: {
						required: true,
						minlength: 3,
						maxlength: 50
					},
					email: {
						required: true,
						email: true,
						maxlength: 50,
						remote: '/account/validate-email'
					},
					password: {
						required: true,
						minlength: 6,
						maxlength: 50,
						validPassword: true
					}
				},
				messages: {
					name: {
						required: 'Wymagana nazwa użytkownika',
						minlength: 'Minimalna długość nazwy użytkownika to 3 znaki.',
						maxlength: 'Maksymalna długość nazwy użytkownika to 50 znaków.'
					},
					//'Wymagana nazwa nowego użytkownika.',
					email: {
						required: 'Wymagany adres email.',
						email: 'Wpisz poprawny adres email.',
						maxlength: 'Maksymalna długość emaila to 50 znaków.',
						remote: 'Adres email zajęty.'
					},
					password: {
						required: 'Wymagane hasło.',
						minlength: 'Hasło musi zawierać conajmniej 6 znaków.',
						maxlength: 'Hasło może zawierać najwyżej 50 znaków.'
					}
				}
			});
			
			/**
			 * Show password toggle button
			 */
			$('#inputPassword').hideShowPassword({
				show: false,
				innerToggle: 'focus',
				states: {
					shown: {
						toggle: {
							content: 'Ukryj'
						}
					},
					hidden: {
						toggle: {
							content: 'Pokaż'
						}
					}
				},
				toggle: {
					className: 'hideShowPassword-toggle showBtn'
				}
			});
		});
	</script>
{% endblock %}

{% block navbar %}
	<div class="collapse navbar-collapse  justify-content-center" id="mainmenu">
		<ul class="navbar-nav offset-6">
			<li class="nav-item">
				<a class="nav-link" href="login"><span class="fa fa-sign-in fa-fw"></span>Logowanie</a>
			</li>
		</ul>
	</div>
{% endblock %}





{% block body %}

<!--    <h1>Sign up</h1>
    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post" action="/signup/create" id="formSignup">
        <div>
            <label for="inputName">Name</label>
            <input id="inputName" name="name" placeholder="Name" autofocus value="{{ user.name }}" />
        </div>
        <div>
            <label for="inputEmail">Email address</label>
            <input id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" type="email" />
        </div>
        <div>
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="password" placeholder="Password" />
        </div>
        <button type="submit">Sign up</button>
    </form>-->
	<form class="col-12 col-sm-8 col-md-6 col-xl-4 offset-sm-2 offset-md-3 offset-xl-4 form-box" method="post" id="formSignup">
		<div class="input-container">
			<i class="fa fa-user bg-icon fa-fw single-icon"></i>
			<input class="input-field" type="text" placeholder="imię" onfocus="this.placeholder=''" onblur="this.placeholder='imię'"
			value="" name="name" value="{{ user.name }}" id="inputName">
		</div>
		<div class="input-container">
			<i class="fa fa-envelope bg-icon fa-fw single-icon"></i>
			<input class="input-field" type="email" placeholder="e-mail" onfocus="this.placeholder=''" onblur="this.placeholder='e-mail'" 
			value="" name="email" id="inputEmail">
		</div>
		<div class="input-container">
			<i class="fa fa-lock bg-icon fa-fw single-icon"></i>
			<input class="input-field" type="password" placeholder="hasło" onfocus="this.placeholder=''" onblur="this.placeholder='hasło'" 
			value="" name="password" id="inputPassword">
		</div>  
		<div class="submit-container">
			<i class="fa fa-user-plus fa-fw submit-icon"></i>
			<button type="submit" class="btn">Zarejestruj</button>
		</div>
		<div>
			<label id="inputName-error" class="error" for="inputName"></label>
		</div>
		<div>
			<label id="inputEmail-error" class="error" for="inputEmail"></label>
		</div>
		<div>
			<label id="inputPassword-error" class="error" for="inputPassword"></label>
		</div>
	</form>
{% endblock %}
