.period_button {
	border-radius: 10px;
	border: var(--color-dark);
	padding: 10px;
	margin-top: 16px;
	margin-bottom: 16px;
	float: right;
	min-width: 120px;
}
.period-border {
	border: 1px solid var(--color-dark);
	border-radius: 4px;
}
.btn_confirm {
	background-color: var(--color-dark);
	color: var(--color-bg);
}
.dropdown-item {
	padding-left: 10px;
}
.dropdown-item:hover {
	background-color: var(--color-item-hover-bg);
}

input,option,select,input[type=textarea] {
	padding-left: 10px;
	width: 100%;
	font-size: 16px;
}
input[type=number]::-webkit-inner-spin-button {
	opacity: 1;
}
input[type=date]::-webkit-inner-spin-button {
	opacity: 1;
}
input[type=date]::-webkit-calendar-picker-indicator {
	opacity: 1;
	color: var(--color-dark);
}

.b_line {
	font-size: 16px;
	color: black;
	margin: 5px 0px 5px 0px;
}

/* Balance left cell*/
.blcell {
	padding: 5px;
	border: 1px solid var(--color-dark);
	border-right: none;
	background-color: white;
	border-radius: 4px 0em 0em 4px;
}

/* Balance right cell*/
.brcell {
	text-align: right;
	padding: 5px;
	border: 1px solid var(--color-dark);
	border-left: none;
	background-color: white;
}
.btn_list {
	border: 1px solid var(--color-dark);
	border-left: none;
	padding: 0px;
	border-radius: 0px;
	background-color: var(--color-medium);
	border-radius: 0em 4px 4px 0em;
}
.b_border {
	border: 1px solid var(--color-dark);
}
#chartdiv {
	border-radius: 4px 4px 0em 0em;
}
#legend_btn {
	border-radius: 0em 0em 4px 4px;
}
.b_sum {
	font-size: 28px;
}
.b_right_brd_r {
	border-radius: 0em 4px 4px 0em;
}
.b_motivation {
	line-height: 42px;
	text-align: center;
	padding: 5px;
	border: 1px solid var(--color-dark);
	background-color: white;
	border-radius: 4px;
}
.modal_line {
	font-size: 16px;
	color: black;
	margin-bottom: 10px;
	border: 1px solid var(--color-dark);
	border-left: none;
	border-top: none;
}
.modal_cell {
	padding: 5px;
	border: 1px solid var(--color-dark);
	border-right: none;
	border-bottom: none;
	background-color: white;
}

/* https://www.w3schools.com/howto/howto_css_aspect_ratio.asp */
.ratioparent {
	width: 100%; 
	padding-top: 100%; 
	position: relative;
}
.ratiochild {
	width: 100%; 
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
}
.modal_button {
	float: left; 
	width: 50%; 
	height:100%;
}

/* from settings.css*/
.btn_record {
	border: 2px solid var(--color-dark);
	border-radius: 5px;
	background-color: var(--color-medium);
}
.btn_record:hover {
	background-color: var(--color-item-hover-bg);
	border: 2px solid var(--color-item-hover-brd)
}
.bg_del:hover {
	background-color: var(--color-item-hover-del);
	border: 2px solid var(--color-warning-text);
}
.container {
	padding-bottom: 1em;
}
.ribbon_info {
	margin: 0 0 10px 0;
	font-size: calc(1em + 1vw);
}
.bg-main {
	margin-top: 16px;
}