:root {
  --color-bg: #FFFBD9;
  --color-dark: #7F9949;
  --color-medium: #BBCC99;
  --border-dark: 2px solid var(--color-dark);
  --color-warning-text: #6e1a22;
  --color-warning-bg: #dc5565;
}

.con {
	border-radius: 10px;
	border: 2px solid #7F9949;
	padding: 10px;
	margin-bottom: 10px;
}
.margin20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn-balance {
	background-color: #7F9949;
	color: #FFFBD9;
}
.dropdown-item {
	padding-left: 10px;
}
.dropdown-item:hover {
	background-color: #99AACC;
}

input,option,select,input[type=textarea] {
	padding-left: 10px;
	width: 100%;
	font-size: 16px;
}
input[type=number]::-webkit-inner-spin-button {
	opacity: 1;
}
input[type=date]::-webkit-inner-spin-button {
	opacity: 1;
}
input[type=date]::-webkit-calendar-picker-indicator {
	opacity: 1;
	color: #7F9949;
}

.brd {
	border: 2px solid #7F9949;
}
.b_line {
	font-size: 16px;
	color: black;
	margin: 5px 0px 5px 0px;
}
/* Balance left cell*/
.blcell {
	padding: 5px;
	border: 1px solid #7F9949;
	border-right: none;
	background-color: white;
}
/* Balance right cell*/
.brcell {
	text-align: right;
	padding: 5px;
	border: 1px solid #7F9949;
	border-left: none;
	background-color: white;
}
.btn_list {
	border: 1px solid #7F9949;
	border-left: none;
	padding: 0px;
	border-radius: 0px;
	background-color: #BBCC99;
}
.b_border {
	border: 1px solid #7F9949;
}
.b_sum {
	font-size: 28px;
}
.b_motivation {
	line-height: 42px;
	text-align: center;
	padding: 5px;
	border: 1px solid #7F9949;
	background-color: white;
	margin-bottom: 20px;
}
.modal_line {
	font-size: 16px;
	color: black;
	margin-bottom: 10px;
	border: 1px solid #7F9949;
	border-left: none;
	border-top: none;
}
.modal_cell {
	padding: 5px;
	border: 1px solid #7F9949;
	border-right: none;
	border-bottom: none;
	background-color: white;
}

/* https://www.w3schools.com/howto/howto_css_aspect_ratio.asp */
.ratioparent {
	width: 100%; 
	padding-top: 100%; 
	position: relative;
}
.ratiochild {
	width: 100%; 
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
}
.modal_button {
	float: left; 
	width: 50%; 
	height:100%;
}

/* from settings.css*/
.btn_settings {
	/*font-size: 16px;*/
	border: 2px solid #7F9949;
	border-radius: 5px;
	background-color: #BBCC99;
	/*width: 100%;*/
}
.btn_settings:hover {
	background-color: #99AACC;
	border: 2px solid #6973FA;
}
.bg_del:hover {
	background-color: #dc3545;
	border: 2px solid #6e1a22;
}

.button_checked {
	background-color: #B399CC;
	border-radius: 5px;
	border: 2px solid #9379AC;
	float: left; 
	width: 50%; 
	height:100%;
	/*border-radius: 10px;
	font-size: 16px;
	margin: 5px;
	min-width: 145px;
	text-align: center;*/
}