.container {
	border-radius: 0px;
	border: 1px solid #7F9949;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	display: table;
}
.income_section{
	display: inline-block;
	height: 15vmin;
	min-height: 90px;
	padding: 5px;
}
.income_btn {
	padding: 5px;
	display: inline-block;
	height: 10vmin;
	min-height: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.btn {
	height: 100%;
	width: 100%;
	font-size: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 100%;
}

input,option,select,input[type=textarea] {
	padding-left: 10px;
	width: 100%;
    font-size: calc(12px + 2vmin);
}
input[type=number]::-webkit-inner-spin-button {
	opacity: 1;
}
input[type=date]::-webkit-inner-spin-button {
	opacity: 1;
}
input[type=date]::-webkit-calendar-picker-indicator {
	opacity: 1;
}