:root {
	--color-bg: #FFFBD9;
	--color-dark: #7F9949;
	--color-medium: #BBCC99;
	--color-warning-text: #6e1a22;
	--color-warning-bg: #dc5565;
	--color-item-active: #B399CC;
	--color-item-hover-bg: #99AACC;
	--color-item-hover-brd: #6973FA;
	--color-item-hover-del: #dc3545;
	--color-btn-checked: #9379AC;
}
body {
	background-color: var(--color-bg);
	color: var(--color-dark);
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
h1 {
	font-size: calc(10px + 5vw);
	font-weight: 700;
}

/* <header> stylization */
.ribbon {
	background-color: var(--color-dark);
	min-height: 70px;
}
.logo {
	padding: 10px;
	text-align: center;
}
.nav-item {
	background-color: var(--color-medium);
	border: 2px solid var(--color-dark);
	border-radius: 10px;
	font-size: 16px;
	margin: 5px;
	min-width: 145px;
	text-align: center;
}
.nav-item-active {
	background-color: var(--color-item-active);
	border: 2px solid var(--color-dark);
	border-radius: 10px;
	font-size: 16px;
	margin: 5px;
	min-width: 145px;
	text-align: center;
}
.nav-item:hover {
	background-color: var(--color-item-hover-bg);
	border: 2px solid var(--color-item-hover-brd);
}


.single-icon {
	color: white;
	padding: 18px 7px 7px 7px;
}
.error {
	color: red;
}
.inB {
	display: inline-block;
}
.hidden {
	display: none;
}

/* alert stylization */
.ribbon_info {
	background-color: var(--color-medium);
	color: var(--color-bg);
	text-shadow: -1px 0 var(--color-dark), 0 1px var(--color-dark), 1px 0 var(--color-dark), 0 -1px var(--color-dark);
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: calc(8px + 3vmin);
}
.alert-info {
	font-size: calc(8px + 3vmin);
	text-align: center;
}
.alert-success {
	background-color: var(--color-medium);
	color: var(--color-bg);
	text-shadow: -1px 0 var(--color-dark), 0 1px var(--color-dark), 1px 0 var(--color-dark), 0 -1px var(--color-dark);
}
.alert-warning {
	background-color: var(--color-warning-bg);
	color: var(--color-bg);
	text-shadow: -1px 0 var(--color-warning-text), 0 1px var(--color-warning-text), 1px 0 var(--color-warning-text), 0 -1px var(--color-warning-text);
}