:root {
  --color-bg: #FFFBD9;
  --color-dark: #7F9949;
  --color-medium: #BBCC99;
  --border-dark: 2px solid var(--color-dark);
  --color-warning-text: #6e1a22;
  --color-warning-bg: #dc5565;
}
body {
	background-color: var(--color-bg);
	color: var(--color-dark);
    font-family: 'Open Sans', sans-serif;
    font-size: calc(8px + 3vmin);
}
h1 {
	font-size: calc(10px + 5vw);
	font-weight: 700;
}
/* <header> stylization */
.ribbon {
	background-color: var(--color-dark);
	min-height: 70px;
}
.logo {
	padding: 10px;
	text-align: center;
}
.nav-item {
	background-color: var(--color-medium);
	border: var(--border-dark);
	border-radius: 10px;
	font-size: 16px;
	margin: 5px;
	min-width: 145px;
	text-align: center;
}
.nav-item-active {
	background-color: #B399CC;
	border: var(--border-dark);
	border-radius: 10px;
	font-size: 16px;
	margin: 5px;
	min-width: 145px;
	text-align: center;
}
.nav-item:hover {
	background-color: #99AACC;
	border: 2px solid #6973FA;
}
.single-icon {
	color: white;
	padding: 18px 7px 7px 7px;
}
.error {
	color: red;
}
.alert {
	font-size: calc(8px + 3vmin);
	text-align: center;
}
.alert-success {
	background-color: var(--color-medium);
	color: #FFFBD9;
	text-shadow: -1px 0 var(--color-dark), 0 1px var(--color-dark), 1px 0 var(--color-dark), 0 -1px var(--color-dark);
}
.alert-warning {
	background-color: var(--color-warning-bg);
	color: #FFFBD9;
	text-shadow: -1px 0 var(--color-warning-text), 0 1px var(--color-warning-text), 1px 0 var(--color-warning-text), 0 -1px var(--color-warning-text);
}
.inB {
	display: inline-block;
}
.hidden {
	display: none;
}
.ribbon_info {
	background-color: #BBCC99;
	color: #FFFBD9;
	text-shadow: -1px 0 #7F9949, 0 1px #7F9949, 1px 0 #7F9949, 0 -1px #7F9949;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: calc(8px + 3vmin);
}

.info_ribbon {
	background-color: #BBCC99;
	color: #FFFBD9;
	text-shadow: -1px 0 #7F9949, 0 1px #7F9949, 1px 0 #7F9949, 0 -1px #7F9949;
	text-align: center;
}