.settings_group {
	padding: 10px;
	border: 1px solid #7F9949;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	margin-top: 10px;
	display: inline-block;
	width: 100%;
}
.last_group {
	margin-bottom: 20px;
}
.nav-link {
	color: rgba(0, 0, 0, 0.5);
}
.nav-link:hover {
	color: rgba(0, 0, 0, 0.7);
}
.btn_settings {
	font-size: 16px;
	border: 1px solid #7F9949;
	background-color: #BBCC99;
	width: 100%;
}
.btn_settings:hover {
	background-color: #99AACC;
	border: 1px solid #6973FA;
}
.bg_del:hover {
	background-color: #dc3545;
	border: 1px solid #6e1a22;
}
.btn_icon {
	border: 1px solid #7F9949;
	border-right: none;
	padding: 0px;
	border-radius: 0px;
}


.modal_line {
	font-size: 16px;
	color: black;
	margin-bottom: 10px;
	border: 1px solid #7F9949;
	border-left: none;
	border-top: none;
}
.modal_cell {
	padding: 5px;
	border: 1px solid #7F9949;
	border-right: none;
	border-bottom: none;
	background-color: white;
}
.modal_button {
	float: left; 
	width: 100%; 
	height:100%;
}
.half {
	width: 50%; 
}
.btn_record {
	border: 2px solid #7F9949;
	border-radius: 5px;
	background-color: #BBCC99;
}
.btn_record:hover {
	background-color: #99AACC;
	border: 2px solid #6973FA;
}
.bg_record_del:hover {
	background-color: #dc3545;
	border: 2px solid #6e1a22;
}
.btn_confirm {
	background-color: #7F9949;
	color: #FFFBD9;
}
.button_checked {
	background-color: #B399CC;
	border-radius: 5px;
	border: 2px solid #9379AC;
	float: left; 
	height:100%;
}