-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
-ms-transition: none;
transition: none;


/*.settings_group {
	padding: 10px;
	border: 1px solid var(--color-dark);
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	margin-top: 10px;
	display: inline-block;
	width: 100%;
}*/
.settings_group {
	/*border: 1px solid var(--color-dark);*/
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	display: inline-block;
	width: 100%;
}
.top10 {
	margin-top: 10px;
}
.vertical_center {
	margin: 0; 
	position: absolute; 
	top: 50%; 
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.right {
	right: 0;
}

.last_group {
	margin-bottom: 20px;
}
.nav-link {
	color: rgba(0, 0, 0, 0.5);
}
.nav-link:hover {
	color: rgba(0, 0, 0, 0.7);
}
.btn_settings {
	font-size: 16px;
	border: 1px solid var(--color-dark);
	background-color: var(--color-medium);
	width: 100%;
}
.btn_settings:hover {
	background-color: var(--color-item-hover-bg);
	border: 1px solid var(--color-item-hover-brd);
}
.bg_del:hover {
	background-color: var(--color-item-hover-del);
	border: 1px solid var(--color-warning-text);
}
.btn_icon {
	border: 1px solid var(--color-dark);
	border-right: none;
	padding: 0px;
	border-radius: 0px;
}


.modal_line {
	font-size: 16px;
	color: black;
	text-align: left;
	/*margin-bottom: 10px;*/
	border: 1px solid var(--color-dark);
	/*border-left: none;
	border-top: none;*/
}
.modal_cell {
	padding: 5px;
	/*border: 1px solid var(--color-dark);
	border-right: none;
	border-bottom: none;*/
	background-color: white;
}
.modal_button {
	float: left; 
	width: 100%; 
	height:100%;
}
.half {
	width: 50%; 
}
.btn_record {
	border: 2px solid var(--color-dark);
	border-radius: 5px;
	background-color: var(--color-medium);
}
.btn_record:hover {
	background-color: var(--color-item-hover-bg);
	border: 2px solid var(--color-item-hover-brd);
}
.bg_record_del:hover {
	background-color: var(--color-item-hover-del);
	border: 2px solid var(--color-warning-text);
}
.btn_confirm {
	background-color: var(--color-dark);
	color: var(--color-bg);
}
.button_checked {
	background-color: var(--color-item-active);
	border-radius: 5px;
	border: 2px solid var(--color-btn-checked);
	float: left; 
	height: 100%;
}
.error {
	font-size: 16px;
}
.showBtn {
	background-color: var(--color-dark);
	border: var(--border-dark);
	border-radius: 5px;
	color: white;
	height: 100%;
	width: 30%;
}

.modal_input {
	padding: 5px;
	border: none;
	background-color: white;
}

.settings_info {
	background-color: var(--color-medium);
	color: var(--color-bg);
	text-shadow: -1px 0 var(--color-dark), 0 1px var(--color-dark), 1px 0 var(--color-dark), 0 -1px var(--color-dark);
}

.input_area {
	border: 2px solid var(--color-dark);
	border-radius: 5px;
	background-color: white;
	width: 150px;
}
@media (min-width: 576px) {
	.input_area {
		border: 2px solid var(--color-dark);
		border-radius: 5px;
		background-color: white;
		width: 250px;
	}
}

