.container {
	border: 1px solid var(--color-dark);
	border-radius: 0.25em;
	margin-top: 1em;
	margin-bottom: 5em;
	padding-bottom: 1em;
	width: 100%;
}
.transaction_section{
	display: inline-block;
	margin-top: 0.375em;
}
.top_m375{
	margin-top: 0.375em;
}
.transaction_btn {
	padding: 5px;
	display: inline-block;
	height: 10vmin;
	min-height: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.btn {
	height: 100%;
	width: 100%;
	font-size: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 100%;
}

input,option,select,input[type=textarea] {
	padding-left: 10px;
	width: 100%;
    /*font-size: calc(12px + 2vmin);*/
}
input[type=number]::-webkit-inner-spin-button {
	opacity: 1;
}
input[type=date]::-webkit-inner-spin-button {
	opacity: 1;
}
input[type=date]::-webkit-calendar-picker-indicator {
	opacity: 1;
}

