{% extends 'navbar.html' %}

{% block title %}Expense{% endblock %}

{% block css_styles %}
	<link rel="stylesheet" href="/css/transaction.css">
{% endblock %}

{% block body %}
	<!-- Errors of expense -->
	{% if errors is not empty %}
		<div id="errors" class="col-12">
		{% for error in errors %}
			<div class="error">{{ error }}</div>
		{% endfor %}
		</div>
	{% endif %}
	
		<form id="expense_form">
		
		<div class="container offset-xl-3 offset-lg-2 offset-md-1 offset-sm-2 offset-1 col-xl-6 col-lg-8 col-md-10 col-sm-8 col-10">
		
			<div class="row" >
				<div id="limit_ribbon">
				</div>
			</div>
			
			<div class="row">
				<!-- Amount of expense -->
				<div class="transaction_section col-12 col-md-6">
					<label for="expense_value">Kwota: </label>
					<input id="expense_value" class="form-control" type="number" name="expense_value" step="0.01" min="0.01" max="999999.99" required>
				</div>
				<!-- Date of expense -->
				<div class="transaction_section col-12 col-md-6">
					<label for="expense_date">Data: </label>
					<input id="expense_date" class="form-control" type="date" name="expense_date" value="{{ transaction_date }}">
				</div>
			</div>
			
			<div class="row" >
				<div class="alert-success" id="info_ribbon">
				</div>
			</div>
			
			<div class="row">
				<div class="transaction_section col-12 col-md-6">
					<!-- Category of expense -->
					<div>
						<label>Kategoria: </label>
						{% set firstExpense = expense_cats|first %}
						{% for item in expense_cats %}
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<input type="radio" name="expense_category" id="radio{{ item.id }}" value="{{ item.id }}" style="width: 0.8em;" data-limited="{{ item.limited }}" data-limit-value="{{ item.limit_value }}" data-name="{{ item.name }}" {% if item==firstExpense %}checked{% endif %}>
								</div>
							</div>
							<label class="form-control" for="radio{{ item.id }}" >{{ item.name }}</label>
						</div>
						{% endfor %}
					</div>
				</div>
				
				
				
				
				<div class="transaction_section col-12 col-md-6">
					<!-- Expense note -->
					<div>
						<label for="expense_note">Notatki: </label>
						<input class="form-control col-12" type="textarea" name="expense_note" placeholder="Opcjonalnie..." onfocus="this.placeholder=''" onblur="this.placeholder='Opcjonalnie...'"
						value="" maxlength="100">
					</div>
					<!-- Category of payment -->
					<div>
						<label class="top_m375">Płatność: </label>
						{% set firstPayment = payment_cats|first %}
						{% for item in payment_cats %}
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<input type="radio" name="payment_category" id="radio{{ item.id }}" value="{{ item.id }}" style="width: 0.8em;"
									{% if item==firstPayment %}checked{% endif %}>
								</div>
							</div>
							<label class="form-control" for="radio{{ item.id }}" >{{ item.name }}</label>
						</div>
						{% endfor %}
					</div>
					<!-- Expense saving -->
					<div class="row d-sm-block d-none">
						<div class="transaction_btn offset-1 col-5">
							<button id="submitBtn" class="btn btn-success" type="submit" value="Submit">Dodaj</button>
						</div>
						<div class="transaction_btn col-5">
							<button class="btn btn-danger" type="reset" value="Reset">Anuluj</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<br />
			</div>
			
		</div>
		
		<div class="offset-4 col-8 d-sm-none d-block" id="buttons_footer">
			<div class="row">
				<div class="transaction_btn col-6">
					<button id="submitBtn" class="btn btn-success" type="submit" value="Submit">Dodaj</button>
				</div>
				<div class="transaction_btn col-6">
					<button class="btn btn-danger" type="reset" value="Reset">Anuluj</button>
				</div>
			</div>
		</div>
		</form>
{% endblock %}

{% block footer %}
<script src="/js/expense.js"></script>
{% endblock %}