{% extends 'navbar.html' %}

{% block title %}Expense{% endblock %}

{% block css_styles %}
	<link rel="stylesheet" href="/css/transaction.css">
{% endblock %}

{% block body %}
	<!-- Expense adding -->
		<form id="expense_form" class="container offset-xl-3 offset-lg-2 offset-md-1 offset-sm-2 offset-1 col-xl-6 col-lg-8 col-md-10 col-sm-8 col-10">
			<!-- Errors of expense -->
			{% if errors is not empty %}
				<div class="col-12">
				{% for error in errors %}
					<div class="error">{{ error }}</div>
				{% endfor %}
				</div>
			{% endif %}
			<!-- Amount of expense -->
			<div class="transaction_section col-12 col-md-6">
				<div><label for="expense_value">Kwota: </label></div>
				<div><input type="number" name="expense_value" step="0.01" min="0.01" max="999999.99" value="{{ expense_value }}"required></div>
			</div>
			<!-- Date of expense -->
			<div class="transaction_section col-12 col-md-6">
				<div><label for="expense_date">Data: </label></div>
				<div><input type="date" name="expense_date" value="{{ transaction_date }}"></div>
			</div>
			<!-- Category of expense -->
			<div class="transaction_section col-12 col-md-6">
				<div>Kategoria: </div>
				<select name="expense_category">
					{% for item in expense_cats %}
					<option value="{{ item.id }}">{{ item.name }}</option>
					{% endfor %}
				</select>
			</div>
			<!-- Expense payment -->
			<div class="transaction_section col-12 col-md-6">
				<div>Płatność: </div>
				<select name="payment_category">
					{% for item in payment_cats %}
					<option value="{{ item.id }}">{{ item.name }}</option>
					{% endfor %}
				</select>
			</div>
			<!-- Expense note -->
			<div class="transaction_section col-12 col-md-6">
				<label for="expense_note">Notatki: </label>
				<input type="textarea" name="expense_note" placeholder="Opcjonalnie..." onfocus="this.placeholder=''" onblur="this.placeholder='Opcjonalnie...'" value=""maxlength="100">
			</div>
			<!-- Expense saving -->
			<div class="transaction_btn offset-4 offset-md-0 col-4 col-md-3">
				<button class="btn btn-success" type="submit" value="Submit">Dodaj</button>
			</div>
			<div class="transaction_btn col-4 col-md-3">
				<button class="btn btn-danger" type="reset" value="Reset">Anuluj</button>
			</div>
		</form>
{% endblock %}

{% block footer %}
<script>
const $form = $('#expense_form');
const $submitBtn = $("#submitBtn");
const $info = $("#success_info");
$form.on("submit", function(e) {
    e.preventDefault();
    $submitBtn.prop('disabled', true);
	$.ajax({
        url: '/income/add-income-ajax',
        method : "POST",
        dataType : "json",
        data: $(this).serialize()
    }).always(function(response) {
		if(response.success) {
			$(".alert-warning").hide();
			$info.addClass('ribbon_info alert-success');
			$info.html(response.message);
			$submitBtn.prop('disabled', false);
		} else {
			location.reload(true);
		}
    });
});
</script>
{% endblock %}