{% extends 'navbar.html' %}

{% block title %}Settings{% endblock %}

{% block css_styles %}
	
	<link rel="stylesheet" href="/css/settings.css">
{% endblock %}

{% block body %}
		
<section id="pageContent">
{% include 'Settings/pageContent.html' %}
</section>	
		
		<br />

<section id="modals">
	<section id="incomeModals">
{% include 'Settings/incomeModals.html' %}
	</section>

	<section id="expenseModals">
{% include 'Settings/expenseModals.html' %}
	</section>
	
	<section id="paymentModals">
{% include 'Settings/paymentModals.html' %}
	</section>

	<section id="accountDataModals">
{% include 'Settings/accountDataModals.html' %}
	</section>
		
</section>

{% endblock %}

{% block footer %}
<script src="/js/modal.js"></script>
<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/settingsValidation.js"></script>
{% endblock %}