	<!------incomeListModal---------------------------------------------------------------------------->
		<div class="modal fade" id="incomeListModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="modal-title" id="incomeModalLabel">incomeModalLabel</div>
						<input type="hidden" id="incomeModalIdLabel" value="" />
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<section>
							<h5>Szczegółowa lista</h5>
							<ul id="incomeCategoryList" class="list-unstyled">
								<!-- dynamically loaded list -->
							</ul>
						</section>
					</div>
					<div class="modal-footer">
						<button  type="button" class="btn btn_confirm" data-dismiss="modal"  aria-label="Close">Zamknij</button>
					</div>
				</div>
			</div>
		</div>