{% extends 'navbar.html' %}

{% block title %}Home{% endblock %}

{% block css_styles %}
<link rel="stylesheet" href="css/menu.css">
{% endblock %}

{% block body %}
		<div class="login_info">
			Witaj #username!
		</div>
		<section>
				<div class="row offset-xl-3 offset-lg-2 offset-md-1 offset-sm-2 offset-1 col-xl-6 col-lg-8 col-md-10 col-sm-8 col-10">
						<article>Jeśli zależy Ci na wzbogaceniu się, ucz się dyscypliny w sprawach finansowych. Sporządzanie osobistego budżetu z pewnością ci w tym pomoże!</article>

						<article>Pamiętaj, aby zbierać paragony oraz na bieżąco zapisywać dochody i wydatki. Kategoryzacja pozwoli Ci na spersonalizowanie wyników.</article>

						<article>Dzięki aplikacji PersonalBudget poznasz swoje nawyki zakupowe oraz zdiagnozujesz problemy z wydatkami.</article>
				</div>
		</section>
{% endblock %}
