	<!-- USER MODALS (ACCOUNT DATA) -->
		<!-- Change name modal -->
		<div class="modal fade" id="changeNameModal" tabindex="-1" role="dialog" aria-labelledby="changeNameModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-md" role="document">
				<form class="modal-content" action="/settings/change-name" method="post" enctype="multipart/form-data" id="changeName">
					<div class="modal-header">
						<div class="modal-title" id="changeNameModalLabel">Zmień imię</div>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<section>
							<div class="container">
									<div class="modal_line row shadow">
										<input type="text" name="name" class="modal_cell col-12" value="{{ user.username }}" id="inputName">
									</div>
									<label id="inputName-error" class="error" for="inputName"></label>
							</div>
						</section>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn_confirm" >Zapisz</button>
					</div>
				</form>
			</div>
		</div>
		
		<!-- Change email modal -->
		<div class="modal fade" id="changeEmailModal" tabindex="-1" role="dialog" aria-labelledby="changeEmailModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-md" role="document">
				<form class="modal-content" action="/settings/change-email" method="post" id="changeEmail">
					<div class="modal-header">
						<div class="modal-title" id="changeEmailModalLabel">Zmień email</div>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<section>
							<div class="container">
									<div class="modal_line row shadow">
										<input type="email" name="email" class="modal_cell col-12" value="{{ user.email }}" id="inputEmail">
									</div>
									<label id="inputEmail-error" class="error" for="inputEmail"></label>
							</div>
						</section>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn_confirm" >Zapisz</button>
					</div>
				</form>
			</div>
		</div>

		<!-- Change password modal -->
		<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-md" role="document">
				<form class="modal-content" action="/settings/change-password" method="post" id="changePassword">
					<div class="modal-header">
						<div class="modal-title" id="changePasswordModalLabel">Zmień hasło</div>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<section>
							<div class="container">
								<h5>Podaj aktualne hasło:</h5>
								<div class="modal_line row shadow">
									<input type="password" name="oldpassword" class="modal_cell col-12">
								</div>
							</div>
							<div class="container">
								<h5>Podaj nowe hasło:</h5>
								<div class="modal_line row shadow">
									<input type="password" name="password" class="modal_cell col-12" id="inputPassword">
								</div>
								<label id="inputPassword-error" class="error" for="inputPassword"></label>
							</div>
						</section>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn_confirm" >Zapisz</button>
					</div>
				</form>
			</div>
		</div>
	
	
	<!-- DELETE ACCOUNT MODAL -->
		<!-- DELETE ACCOUNT MODAL -->
		<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-md" role="document">
				<form class="modal-content" action="/settings/delete-account" method="post" id="deleteAccount">
					<div class="modal-header">
						<div class="modal-title" id="deleteAccountModalLabel">Usuń konto</div>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<section>
							<div class="container">
								<h5>Wpisz "usuń konto":</h5>
								<div class="modal_line row shadow">
									<input type="text" name="deleteConfirmation" class="modal_input col-12" id="inputConfirmation">
								</div>
								<label id="inputConfirmation-error" class="error" for="inputConfirmation"></label>
							</div>
							<div class="container">
								<h5>Podaj hasło:</h5>
								<div class="modal_line row shadow">
									<input type="password" name="password" class="modal_input col-12">
								</div>
							</div>
						</section>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-danger" >Usuń</button>
					</div>
				</form>
			</div>
		</div>