	<!-- EXPENSES MODALS -->
		<!-- Add expense category modal -->
		<div class="modal fade" id="addExpenseModal" tabindex="-1" role="dialog" aria-labelledby="addExpenseModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="modal-title" id="addExpenseModalLabel">Dodaj kategorię wydatków</div>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<section>
							<div class="container">
									<form action="/settings/add-expense-category" method="post" class="modal_line row shadow" id="addExpenseCategory">
										<input type="text" name="name" class="modal_cell col-8 col-sm-9">
										<div class="container modal_cell col-4 col-sm-3" style="padding: 0;">
											<button  type="submit" class="btn_record modal_button"><i class="fa fa-floppy-o fa-fw"></i></button> 
										</div>
									</form>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Edit expense category list modal -->
		<div class="modal fade" id="expenseListModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-md" role="document">
				<form class="modal-content" action="/settings/edit-expense-category" method="post" enctype="multipart/form-data">
					<div class="modal-header">
						<div class="modal-title" id="expenseModalLabel">Edycja kategorii wydatków</div>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<section>
							<div class="container">
								{% for category in expenseCategories %}
									<div class="modal_line row shadow" name="record" id="expenseCategory{{ category.id }}">
										<input type="hidden" name="{{ category.id }}[id]" value="{{ category.id }}" />
										<input type="text" name="{{ category.id }}[name]" class="modal_cell col-12 col-sm-12" value="{{ category.name }}">
									</div>
								{% endfor %}
							</div>
						</section>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn_confirm" >Zapisz</button>
					</div>
				</form>
			</div>
		</div>

		<!-- Delete expense category modal -->
		<div class="modal fade" id="expenseRemoveModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-md" role="document">
				<form class="modal-content" action="/settings/remove-expense-category" method="post" enctype="multipart/form-data">
					<div class="modal-header">
						<div class="modal-title" id="removeExpenseModalLabel">Usuń kategorię wydatków</div>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<section>
							<div class="container">
									<div class="modal_line row shadow">
											<div class="modal_cell col-6">
												Usuwana kategoria:
											</div>
											<select class="modal_cell col-6" id="deleteExpense" name="deleteId">
												<option></option>
												{% for category in expenseCategories%}
														<option value="{{ category.id }}">
														{{ category.name }}</option>
												{% endfor %}
											</select>
									</div>
									<div class="modal_line row shadow">
											<div class="modal_cell col-6">
												Wydatki przenieść do:
											</div>
											<select class="modal_cell col-6" style="width: 100%;" name="transferId">
												<option></option>
												{% for newCategory in expenseCategories%}
														<option value="{{ newCategory.id }}">
														{{ newCategory.name }}</option>
												{% endfor %}
											</select>
									</div>
							</div>
						</section>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-danger" >Usuń</button>
					</div>
				</form>
			</div>
		</div>