{% extends 'navbar.html' %}

{% block title %}Settings{% endblock %}

{% block css_styles %}
	
	<link rel="stylesheet" href="/css/settings.css">
{% endblock %}

{% block body %}
<div id="info_ribbon"></div>
	
<section id="pageContent">
	{% include 'Settings/toggle/incomeToggleGroup.html' %}
	{% include 'Settings/toggle/expenseToggleGroup.html' %}
	{% include 'Settings/toggle/paymentToggleGroup.html' %}
	{% include 'Settings/toggle/accountToggleGroup.html' %}
</section>	
		
		<br />

<section id="modals">

	<section id="incomeModals">
		{% include 'Settings/modals/incomeModals.html' %}
	</section>

	<section id="expenseModals">
		{% include 'Settings/modals/expenseModals.html' %}
	</section>
	
	<section id="paymentModals">
		{% include 'Settings/modals/paymentModals.html' %}
	</section>

	<section id="accountDataModals">
		{% include 'Settings/modals/accountDataModals.html' %}
	</section>
	
</section>

{% endblock %}

{% block footer %}
<script src="/js/settings/basic.js"></script>
<script src="/js/settings/incomes.js"></script>
<script src="/js/settings/expenses.js"></script>
<script src="/js/settings/payments.js"></script>
<script src="/js/settings/validation.js"></script>
{% endblock %}