{% extends 'navbar.html' %}

{% block title %}Settings{% endblock %}

{% block css_styles %}
	
	<link rel="stylesheet" href="/css/settings.css">
{% endblock %}

{% block body %}
		
<section id="pageContent">
{% include 'Settings/pageContent.html' %}
</section>	
		
		<br />

<section id="modals">
	<section id="incomeModals">

	</section>

	<section id="expenseModals">

	</section>
	
	<section id="paymentModals">

	</section>

	<section id="accountDataModals">

	</section>
		
</section>

{% endblock %}

{% block footer %}
<script src="/js/modal.js"></script>
<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/settingsValidation.js"></script>
<script>
$('button.js_button').click(function(){
  $(this).next('div.js_toggle_group').toggle("slow");
});
$('button.to_first').click(function(){
  $(this).closest('ul').prepend($(this).closest('li'));
});


$('.upbutton').on('click', function () {
    var previousObject = $(this).closest('li').prev('li');
	$(this).closest('li').insertBefore(previousObject);
});
$('.downbutton').on('click', function () {
    var nextObject = $(this).closest('li').next('li');
	$(this).closest('li').insertAfter(nextObject);
});

$('.income_del').on('click', function() {
	var value = $(this).attr("value");
	var name = $(this).attr("name");
	$('#deleteIncomeLabel').text(name);
	$('#deleteIncomeId').val(value);
});

</script>
{% endblock %}