	<!-- PAGE CONTENT -->
		<!-- Incomes Editor -->
		<div class="settings_group offset-xl-3 offset-lg-2 offset-md-1 offset-sm-2 offset-1 col-xl-3 col-lg-4 col-md-5 col-sm-8 col-10">
			<h4>
				Przychody
			</h4>
			<button class="btn_settings shadow">
				<a class="nav-link" href="#addIncomeModal" data-toggle="modal" data-target="#addIncomeModal">
					<i class="fa fa-plus fa-fw"></i>Dodaj kategorię
				</a>
			</button>
			<button class="btn_settings shadow">
				<a class="nav-link" href="#incomeListModal" data-toggle="modal" data-target="#incomeListModal">
					<i class="fa fa-pencil fa-fw"></i> Edytuj kategorię
				</a>
			</button>
			<button class="btn_settings bg_del shadow">
				<a class="nav-link" href="#incomeRemoveModal" data-toggle="modal" data-target="#incomeRemoveModal">
					<i class="fa fa-trash fa-fw"></i> Usuń kategorię
				</a>
			</button>
		</div>
		
		<!-- Expenses Editor -->
		<div class="settings_group offset-1 offset-sm-2 offset-md-0 col-xl-3 col-lg-4 col-md-5 col-sm-8 col-10">
			<h4>
				Wydatki
			</h4>
			<button class="btn_settings shadow">
				<a class="nav-link" href="#addExpenseModal" data-toggle="modal" data-target="#addExpenseModal">
					<i class="fa fa-plus fa-fw"></i>Dodaj kategorię
				</a>
			</button>
			<button class="btn_settings shadow">
				<a class="nav-link" href="#expenseListModal" data-toggle="modal" data-target="#expenseListModal">
					<i class="fa fa-pencil fa-fw"></i> Edytuj kategorię
				</a>
			</button>
			<button class="btn_settings bg_del shadow">
				<a class="nav-link" href="#expenseRemoveModal" data-toggle="modal" data-target="#expenseRemoveModal">
					<i class="fa fa-trash fa-fw"></i> Usuń kategorię
				</a>
			</button>
		</div>
		
		<!-- Payment Editor -->
		<div class="settings_group offset-xl-3 offset-lg-2 offset-md-1 offset-sm-2 offset-1 col-xl-3 col-lg-4 col-md-5 col-sm-8 col-10">
			<h4>
				Sposób płatności
			</h4>
			<button class="btn_settings shadow">
				<a class="nav-link" href="#addPaymentModal" data-toggle="modal" data-target="#addPaymentModal">
					<i class="fa fa-plus fa-fw"></i>Dodaj kategorię
				</a>
			</button>
			<button class="btn_settings shadow">
				<a class="nav-link" href="#paymentListModal" data-toggle="modal" data-target="#paymentListModal">
					<i class="fa fa-pencil fa-fw"></i> Edytuj kategorię
				</a>
			</button>
			<button class="btn_settings bg_del shadow">
				<a class="nav-link" href="#paymentRemoveModal" data-toggle="modal" data-target="#paymentRemoveModal">
					<i class="fa fa-trash fa-fw"></i> Usuń kategorię
				</a>
			</button>
		</div>
		
		<!-- User Data Editor -->	
		<div class="settings_group offset-1 offset-sm-2 offset-md-0 col-xl-3 col-lg-4 col-md-5 col-sm-8 col-10">
			<h4>
				Dane użytkownika
			</h4>
			<button class="btn_settings shadow">
				<a class="nav-link" href="#changeNameModal" data-toggle="modal" data-target="#changeNameModal">
					<i class="fa fa-user fa-fw"></i><i class="fa fa-refresh fa-fw"></i> Zmień imię
				</a>
			</button>
			<button class="btn_settings shadow">
				<a class="nav-link" href="#changeEmailModal" data-toggle="modal" data-target="#changeEmailModal">
					<i class="fa fa-envelope fa-fw"></i><i class="fa fa-refresh fa-fw"></i> Zmień e-mail
				</a>
			</button>
			<button class="btn_settings shadow">
				<a class="nav-link" href="#changePasswordModal" data-toggle="modal" data-target="#changePasswordModal">
					<i class="fa fa-lock fa-fw"></i><i class="fa fa-refresh fa-fw"></i>Zmień hasło
				</a>
			</button>
		</div>
		
		<!-- Account Removing -->
		<div class="settings_group last_group offset-xl-3 offset-lg-2 offset-md-1 offset-sm-2 offset-1 col-xl-6 col-lg-8 col-md-10 col-sm-8 col-10">
			<button class="btn_settings bg_del shadow">
				<a class="nav-link" href="#deleteAccountModal" data-toggle="modal" data-target="#deleteAccountModal">
					<i class="fa fa-user-times fa-fw"></i>Usuń konto
				</a>
			</button>
		</div>