		<div class="container">
			<div id="editAccountToggleGroup" class="top10 offset-xl-3 offset-lg-2 offset-md-1 col-xl-6 col-lg-8 col-md-10 col-12 center">
				<div class="shadow row">
					<button class="btn_settings nav-link js_button">
						Edytuj dane konta
					</button>
				</div>
				<div class="shadow row js_toggle_group" style="display: none;">
					<div class="modal_line modal_cell alert-success js_settings_info" id="accountEditInfo" hidden></div>
					<button class="btn_settings modal_line modal_cell" href="#changeNameModal" data-toggle="modal" data-target="#changeNameModal">
						<div class="edit_acc_opt">
							Zmień imię
						</div>
					</button>
					<button class="btn_settings modal_line modal_cell"href="#changeEmailModal" data-toggle="modal" data-target="#changeEmailModal">
						<div class="edit_acc_opt">
							Zmień email
						</div>
					</button>
					<button class="btn_settings modal_line modal_cell"href="#changePasswordModal" data-toggle="modal" data-target="#changePasswordModal">
						<div class="edit_acc_opt">
							Zmień hasło
						</div>
					</button>
				</div>
			</div>
		</div>


		
		