		<div class="top10 offset-xl-3 offset-lg-2 offset-md-1 offset-sm-2 offset-1 col-xl-6 col-lg-8 col-md-10 col-sm-8 col-10">
			<button class="btn_settings shadow settings_group2 nav-link js_button">
						Przychody
			</button>
			<div class="settings_group2 js_toggle_group" style="display: none;">
				<div class="container">
					<ul id="incomeCategoryList" class="list-unstyled"  style="margin-bottom: 0;">
					{% for category in incomeCategories %}
						<li id="income{{ category.id }}Record" class="modal_line modal_cell row shadow">
							<div class="modal_cell col-12"  style="position: relative;">
								<span id="income{{ category.id }}name">{{ category.name }}</span>
								<div class="btn-group vertical_center right">
									<button id="income{{ category.id }}editBtn" type="button" class="btn btn_record income_edit" href="#incomeEditModal" data-toggle="modal" data-target="#incomeEditModal" value="{{ category.id }}" name="{{ category.name }}"><i class="fa fa-pencil fa-fw"></i></button>
									<button  id="income{{ category.id }}delBtn"  type="button" class="btn btn_record bg_record_del income_del"  value="{{ category.id }}" name="{{ category.name }}" href="#incomeRemoveModal" data-toggle="modal" data-target="#incomeRemoveModal">
										<i class="fa fa-trash fa-fw"></i>
									</button>
								</div>
							</div>
						</li>
					{% endfor %}
					</ul>
					<div class="modal_line modal_cell row shadow">
						<div class="modal_cell col-12"  style="position: relative;">
							<i>Dodaj:</i>
							<form action="/settings/add-income-category" method="post" id="addIncomeCategory">
								<div class="btn-group vertical_center right" role="group" aria-label="Basic example">
									<input type="text" class="btn input_area" name="name" placeholder="Nowa kategoria" onfocus="this.placeholder=''" onblur="this.placeholder='Nowa kategoria'">
									<button type="submit" class="btn btn_record" id="addIncomeCategoryBtn"><i class="fa fa-plus fa-fw"></i></button>
								</div>
							</form>
						</div>
					</div>
					<div class="modal_line modal_cell row shadow alert-success js_settings_info" id="incomeCategoryInfo" hidden></div>
				</div>
			</div>
		</div>