<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
	<meta name="description" content="{% block meta_description %}{% endblock %}">
	<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
	<meta name="author" content="Karol Sołek">
	<meta http-equiv="X-Ua-Compatible" content="IE=edge">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|ZCOOL+XiaoWei:400,700&amp;subset=latin-ext" rel="stylesheet">
{% block pre_css_styles %}{% endblock %}
	<link rel="stylesheet" href="/css/main.css">
{% block css_styles %}{% endblock %}
</head>

<body  style="background: url(/jpeg/office-pen-calculator-computation.png">
	<header>
		<div class="col-sm-12 logo">
			<h1 ><span class="fa fa-calculator fa-fw"></span><u>PersonalBudget</u></h1>
		</div>
{% block navbar %}{% endblock %}
	</header>
	
	
{% for message in flash_messages %}
		<div class="ribbon_info alert-{{ message.type }}">
			{{ message.body }}
		</div>
	{% endfor %}
	<main>
{% block body %}{% endblock %}
	</main>
	
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
{% block footer %}{% endblock %}
</body>
</html>
