{% extends 'navbar.html' %}

{% block title %}Income{% endblock %}

{% block css_styles %}
	<link rel="stylesheet" href="/css/income.css">
{% endblock %}

{% block body %}
	<!-- Income adding -->
		<form class="container offset-xl-3 offset-lg-2 offset-md-1 offset-sm-2 offset-1 col-xl-6 col-lg-8 col-md-10 col-sm-8 col-10" action="/income/add-income" method="post" enctype="multipart/form-data">
			<!-- Amount of income -->
			<div class="income_section col-12 col-md-6">
				<div><label for="income_value">Kwota: </label></div>
				<div><input type="number" name="income_value" step="0.01" min="0.01" max="999999.99" required></div>
			</div>
			<!-- Date of income -->
			<div class="income_section col-12 col-md-6">
				<div><label for="income_date">Data: </label></div>
				<div><input type="date" name="income_date" value="{{ income_date }}"></div>
			</div>
			<!-- Category of income -->
			<div class="income_section col-12 col-md-6">
				<div>Kategoria: </div>
				<select name="income_category">
							{% for item in income_cats %}
								<option value="{{ item.id }}">{{ item.name }} </option>
							{% endfor %}
				</select>
			</div>
			<!-- Income note -->
			<div class="income_section col-12 col-md-6">
				<label for="income_note">Notatki: </label>
				<input type="textarea" name="income_note" placeholder="Opcjonalnie..." onfocus="this.placeholder=''" onblur="this.placeholder='Opcjonalnie...'"
				value="" maxlength="100">
			</div>
			<!-- Income saving -->
			<div class="income_btn offset-4 offset-md-6 col-4 col-md-3">
				<button class="btn btn-success" type="submit" value="Submit">Dodaj</button>
			</div>
			<div class="income_btn col-4 col-md-3">
				<button class="btn btn-danger" type="reset" value="Reset">Anuluj</button>
			</div>
		</form>
{% endblock %}
